<!doctype html>
<html>
<header>
	<title>Madlibs</title>
</header>
<body>
	<form method="POST" action="/madlibs" >
		<p> Animal:</p>
		<input name="animal" >
		<p> Color:</p>
		<input name="color" >
		<p> Person:</p>
		<input name="person" >
		<p> Object:</p>
		<input name="object" >
		<p> Adjective:</p>
		<input name="adjective" >
		<p> Verb:</P>
		<input name="verb" >
		<input type="submit" value="Create Madlibs">
	</form>
</body>
</html>